@charset "utf-8";
@import "normalize";

html, body {
  min-width: 100%;
  min-height: 100%;
  font-family: "Lusitana", "Cochin", "Baskerville", "Georgia", serif;
  font-size: 62.5%; /* To base everything on 10px */
  color: rgb(62, 62, 62);
  background-color: rgb(255, 255, 255);
}

h1 {
  font-weight: 600;
  font-size: 4rem;
}

p {
  line-height: 1.6;
  max-width: 600px;
  text-align: justify;

  &.small {
    font-size: 1.6rem;
  }
}

.container {
  width: 80%;
  margin: 10%;
  box-sizing: border-box;
  font-size: 1.8rem;

  & hr {
    max-width: 600px;
    margin-left: 0;
    border-color: rgba(62, 62, 62, 0.2);
  }
}

@media(max-width: 500px) {
  .container {
    margin-top: 60px;
  }
}

a {
  text-decoration: none;
  color: rgb(58, 119, 190);
  border-bottom: 1px solid rgba(58, 119, 190, 0.2);
  transition: 0.25s ease border-bottom-color;
}

a:hover {
  border-color: rgba(58, 119, 190, 1);
}

pre {
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
  font-size: 1.8rem;
  max-width: 100%;
  overflow-x: scroll;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border-bottom: none;
  padding: 5px;
  height: 24px;
  width: 24px;
}

.back-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
	width: 0;
	height: 0;
	border-right: 60px solid transparent;
	border-top: 60px solid rgba(58, 119, 190, 0.8);
  z-index: -1;
  transition: border-top-color 0.2s ease;
}

.back-button:hover:after {
  border-top-color: rgba(58, 119, 190, 1);
}
