<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

<title><%= current_page.data.title || "Sam Ginn" %></title>
<meta name="description" content="<%= current_page.data.description || "Sam Ginn - an aspirant."%>">

<link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">

<%= stylesheet_link_tag :site %>
