<div class="container">
  <h1>You've stumbled upon a forgotten memory.</h1>
  <span class="story-bar"></span>
  <p>The human brain is magnificently powerful. Yet, it is also incredibly vulnerable. A memory one treasures at one moment may be forever lost the moment one lets his or her attention divert.</p>
</div>
