<!-- :)
   Hi!
   Please do send me a note! I would love to meet you.
-->
<div class="container">
  <h1>Hello. My name is Sam Ginn.</h1>
  <p>Occasionally, a person may stumble upon an oddity and find themselves momentarily amused. On rare occasions, when unusually enthused, he or she may inquire further rather than let the moment lapse into a forgotten memory.</p>
  <p>What would you do?</p>
  <p>Send me a note at <%= link_to "sam@samginn.com", "mailto:sam@samginn.com" %>.</p>
</div>
